header{
	background-color: #333;
	padding: 20px;
	margin: 0;
	display: flex;
}	
	.flex-item-1{
		margin-right: auto;
	}
	
	.flex-item-2{
		margin-left: auto;
		color: white;
	}
	
div{
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #333;
}
	.flex-item-3{
		color: white;
		padding: 10px 20px;
	}

.about-us{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #ddd;
	padding: 20px;
	margin: 20px;
}
.about-us h3{
	text-align: center;
}

.shop-now{
	padding: 10px;
	margin: 20px;
	border-radius: 7px;
	
	
}
.shop-now input[type="submit"]{
	background-color: #4CAF50;
    border: none; /* Remove default button border */
    color: white; /* Set text color to white */
    border-radius: inherit; 
	width: 100px;
	height: 30px;
	font-size: medium;
}
.customer-reviews{
	display: flex;
	flex-wrap: wrap;
	background-color: #ddd;
	padding: 20px;
	margin: 20px;
}
footer{
	background-color: #333;
	padding: 10px;
	margin: 0;
	color: white;
	text-align: center;
}	

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
	padding: 20px;
	margin: 20px;
	background-color: #ddd;
}

table {
    width: 45%; /* Adjust width of each product item */
    margin: 10px; /* Add margin between products */
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
	
	
	
}

table img {
    max-width: 100%;
    height: auto; 
    border-radius: 8px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	transition: transform 0.3s;
}

table img:hover {
    background-color: #ffffff; 
}
table td {
    text-align: center;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	background-color: #f9f9f9
}
.price-text{
	color: #007BFF;
	font-weight: bold;
}